@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center my-5">AntonioManuelDB</h1>

<div class="d-flex justify-content-center gap-3">
    <a class="btn btn-primary btn-lg" asp-controller="Persona" asp-action="Index">Gestionar Personas</a>
    <a class="btn btn-success btn-lg" asp-controller="Departamento" asp-action="Index">Gestionar Departamentos</a> </div>